:host {
    display: block;
    height: 100%;
    // Counteract default padding from app-content if necessary, 
    // but better to just fill available space.
    // If app.scss adds padding, we might want to remove it for this route or use negative margins.
    margin: -20px; 
}

.sidenav-container {
    height: calc(100vh - 64px); 
    background-color: transparent;
}

.sidenav {
    width: 320px;
    background: #fff;
    border-right: 1px solid rgba(0,0,0,0.12);
    padding: 0;
}

.content-header {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #fff;
    border-bottom: 1px solid #eee;
    
    span {
        margin-left: 16px;
        font-weight: 500;
    }
}

