.sidebar-container {
  padding: 16px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.current-list-section {
    .list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        
        h3 {
            margin: 0;
        }
    }
}

.group-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    .group-card {
        cursor: pointer;
        &:hover {
            background-color: rgba(0,0,0,0.04);
        }
    }
}

